*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg,#ec7690,#f17dd4,#a77bee,#77e7cf);
}

.display-container {
  display: flex;
  flex-direction: column;
 
  
}

.mini-display {
   font-family: 'Orbitron', sans-serif;
  line-height: 5vh;
  text-align: right;
  color: orange;
  background-color: black;
  border: none;
}

.display {
   font-family: 'Orbitron', sans-serif;
  line-height: 10vh;
  color: orange;
  font-size: 3rem;
  padding: 0 1rem 0 1rem;
  text-align: right;
  background-color: black;
  border: none;
}

.calculator-box {
 display: flex;
 flex-direction: column;
 
 height: 100vh;
 width: 100vw;
}

.key-grid{
   display: grid;
  grid-template-areas:
  'clear clear clear mult'
  'seven eight nine divide'
  'four five six minus'
  'one two three plus'
  'zero decimal equals equals' ;
  height: 100%;
}

.key-button {
  padding: 1rem;
  font-size: 2em;
  background-color: rgba(240, 255, 255, 0.527);
  cursor: pointer;
}

.key-button:hover {
  background-color: rgba(141, 236, 222, 0.616);
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#clear {
  grid-area: clear;
  
}

#clear:hover {
  background-color: rgba(233, 40, 40, 0.432);
}

#add {
  grid-area: plus;
}
#subtract {
  grid-area: minus;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: mult;
}
#decimal {
  grid-area: decimal;
}
#equals {
  grid-area: equals;
}


@media only screen and (max-width:600px) {
  .App {
    
    align-items: flex-start;
  }
  .calculator-box {
    height: 90vh;
  }
}